<p id="notice"><%= notice %></p>
<div class="show-top">
  <p>
    <strong>User:</strong>
    <%= @blog.user.first_name %> <%= @blog.user.last_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @blog.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @blog.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @blog.image %>
  </p>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>

  <br>

  <%= link_to 'New comment', new_blog_comment_path(@blog) %>
</div>

<br>

<ul class="list-group">
  <% @blog.comments.each do |comment| %>
    <li class="list-group-item">
      <%= link_to edit_blog_comment_path(@blog, comment) do %>
      <%= comment.body %>
      <% end %>
    </li>
  <% end %>
</ul>
